#sidebarnavcustom {
    > li {
        > a > span {
            display: none;
        }
        &:hover {
            a,
            a i,
            ul {
                background-color: $blue !important;
                color: white;
            }
            > a > span {
                display: $blue;
            }
        }
    }
}
