
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Components
@import '~vue2-animate/src/sass/vue2-animate';

// Customs
@import 'admin-menu';
@import 'image';
@import 'dropzone';
@import 'notification';
@import 'message';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

table#messages > thead {
    display: none;
}
