.message > .message-item,
.message > .count-total-messages {
    margin: 5px 20px 0 0;
}
.message.is-mine > .message-item,
.message.is-mine > .count-total-messages {
    margin-left: 20px;
    margin-right: 0;
}

.message > .message-item {
    border-radius: 0 10px 10px 0 !important;
}

.message.is-mine > .message-item {
    border-radius: 10px 0 0 10px !important;
}

.message .status-label {
    cursor: pointer;
    opacity: .3;
}

.message .status-label.status-label-selected {
    cursor: default;
}

.message .status-label:hover,
.message .status-label.status-label-selected {
    opacity: 1;
}
